/* GENERAL CSS */

:root {
    --color-bg: #0f0f0f;
    --color-text: #eeeeee;
    --color-primary: #27a320;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2 {
    font-weight: normal;
    margin: 0.5rem;
}

.website-link {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    display: block;
}

/* SPECIFIC */

.title {
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("./assets/logo.svg") no-repeat center;
    background-size: auto 100%;
}

.title h1 {
    font-size: 10vw;
}

a:link,
a:visited,
a:active {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project h2 {
    margin-top: 0;
    margin-left: 0;
}

.project {
    margin: 0 5vw 0 5vw;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
}

.project .content-container {
    width: 50%;
}

.project .description {
    text-align: justify;
}

.project .image-container {
    margin-left: 1.5rem;
    width: 50%;
}

.project img {
    width: 100%;
    height: 100%;
    border: 1px solid #bbbbbb;
}

@media only screen and (max-width: 1000px) {
    header {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .project {
        display: block;
        margin: 0 2vw 0 2vw;
    }

    .project .content-container {
        width: 100%;
    }

    .project .image-container {
        margin: auto;
        width: 75%;
    }
}

@media only screen and (max-width: 700px) {
    .project .image-container {
        width: 100%;
    }
}
