/* GENERAL CSS */

:root {
    --color-bg: #0f0f0f;
    --color-text: #eeeeee;
    --color-primary: #27a320;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2 {
    font-weight: normal;
    margin: 0.5rem;
}

p {
    margin-top: 1rem;
}

.website-link {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    display: block;
}

/* SPECIFIC */

.title {
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: url("./assets/logo.svg") no-repeat center; */
    /* background-size: auto 100%; */
    background: rgb(11,11,11);
    background: radial-gradient(circle, rgba(6,6,6,1) 30%, rgba(20,20,20,1) 100%);
}

.title h1 {
    font-size: 10vw;
}

.title h2 {
    font-size: 4vw;
}

a:link,
a:visited,
a:active {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project h2 {
    margin-top: 0;
    margin-left: 0;
}

.project {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.project.right {
    margin-left: 4vw;
}

.project.left {
    flex-direction: row-reverse;
    margin-right: 4vw;
}

.project .content-container {
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.project .description {
    text-align: justify;
}

.project img {
    width: 55%;
}

.project.right img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%)
}

.project.left img {
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

